In [30]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

***Dataset***

In [31]:
header = ['age' , 'workclass' , 'someid' , 'education' , 'education_num' , 'marital_status' , 'occupation' , 'relationship' ,  'race' , 'sex' , 'capital_gain' , 'capital_loss' , 'hours_per_week' , 'native_country' , 'class']

In [32]:
data = pd.read_csv('adult.csv' , header = None , names = header , na_values=[' ?'])

In [33]:
data.head()

,age,workclass,someid,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [34]:
data.shape

(32561, 15)

In [35]:
data.describe()

,age,someid,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   someid          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  class           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [37]:
data.isna().sum()

age                  0
workclass         1836
someid               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
class                0
dtype: int64

In [38]:
data.duplicated().sum()

24

In [39]:
data = data.drop_duplicates()

In [40]:
data.duplicated().sum()

0

In [41]:
data.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [42]:
data[data.occupation == "?"].shape

(0, 15)

In [43]:
data[data.native_country == "?"].shape

(0, 15)

In [46]:
col = ['workclass' , 'occupation' , 'native_country']

for i in col:
    data[i] = data[i].fillna(data[i].mode()[0])

In [48]:
data.isna().sum()

age               0
workclass         0
someid            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
class             0
dtype: int64

In [49]:
data.native_country.unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [50]:

for i in data.columns:
    if data[i].dtype == 'object':
        data[i] = data[i].str.strip()

In [51]:
data.native_country.unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', 'Mexico', 'South',
       'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran',
       'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [52]:
data.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [53]:
from sklearn.preprocessing import LabelEncoder

Label = LabelEncoder()

In [54]:
from sklearn.preprocessing import LabelEncoder
for i in data.columns:
    if data[i].dtype == 'object':
        data[i] = Label.fit_transform(data[i])

In [55]:
data.head()

,age,workclass,someid,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  int32
 2   someid          32537 non-null  int64
 3   education       32537 non-null  int32
 4   education_num   32537 non-null  int64
 5   marital_status  32537 non-null  int32
 6   occupation      32537 non-null  int32
 7   relationship    32537 non-null  int32
 8   race            32537 non-null  int32
 9   sex             32537 non-null  int32
 10  capital_gain    32537 non-null  int64
 11  capital_loss    32537 non-null  int64
 12  hours_per_week  32537 non-null  int64
 13  native_country  32537 non-null  int32
 14  class           32537 non-null  int32
dtypes: int32(9), int64(6)
memory usage: 2.9 MB

In [58]:
data['class'].unique()

array([0, 1])

In [61]:
x = data.drop('class' , axis=1)
y = data['class']

In [62]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x , y , test_size=0.2 , random_state=1)

# Model Train

***LogisticRegression Model***

In [64]:
from sklearn.linear_model import LogisticRegression

Lr = LogisticRegression()

Lr.fit(X_train, y_train)

LogisticRegression()

In [65]:
y_pred = Lr.predict(X_test)

In [73]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred , y_test)
print("Accuracy of the Logistic Regression model is {:.2f}%".format(accuracy))

Accuracy of the Logistic Regression model is 80.84%

***the Decision Tree model***

In [75]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

y_pred = dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)*100

print("Accuracy of the Decision Tree model is {:.2f}%".format(accuracy))

Accuracy of the Decision Tree model is 80.81%

***Random Forest Classifier model***

In [78]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
RandomForest = RandomForestClassifier()
RandomForest.fit(X_train, y_train)

y_pred = RandomForest.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)*100

print("Accuracy of the Random Forest Classifier model is {:.2f}%".format(accuracy))

Accuracy of the Random Forest Classifier model is 86.17%

***Naive bayes model***

In [80]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
Nb = GaussianNB()
Nb.fit(X_train, y_train)

y_pred = Nb.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)*100

print("Accuracy of the Naive bayes model is {:.2f}%".format(accuracy))

Accuracy of the Naive bayes model is 80.21%

***K-Neighbors Classifier model***

In [82]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)*100

print("Accuracy of the K-Neighbors Classifier model is {:.2f}%".format(accuracy))

Accuracy of the K-Neighbors Classifier model is 78.20%

***XGBClassifier Classifier model***

In [83]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
boost = XGBClassifier()
boost.fit(X_train, y_train)

y_pred = boost.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)*100

print("Accuracy of the XGBClassifier Classifier model is {:.2f}%".format(accuracy))

Accuracy of the XGBClassifier Classifier model is 87.40%